@model IEnumerable<Assign2part1.Models.brewery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Breweries</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.breweryLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.breweryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.features)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.breweryLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.breweryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.features)
        </td>
        
    </tr>
}

</table>
